.main-chat
  .main-chat__group-info
    .left-box
      %h2.left-box__current-group
        歓迎会
      %ul.left-box__member-list
        Member:
        %li.left-box__member-list__member
          AAA
        %li.left-box__member-list__member
          BBB
        %li.left-box__member-list__member
          CCC
    .edit-btn
      = link_to "#" do
        .edit-btn__text
          Edit
  .main-chat__message-list
