.message{data: {message: {id: message.id}}}
  .message__upper-info
    %p.message__upper-info__name
      = message.user.nickname
    %p.message__upper-info__created-at
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message__text
    - if message.text.present?
      %p.lower-message__content
        = message.text
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?